@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1123%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M48 800L848 0L1289 0L489 800z' fill='url(%23SvgjsLinearGradient1124)'%3e%3c/path%3e%3cpath d='M486.20000000000005 800L1286.2 0L1962.7 0L1162.7 800z' fill='url(%23SvgjsLinearGradient1124)'%3e%3c/path%3e%3cpath d='M1363 800L563 0L176 0L976 800z' fill='url(%23SvgjsLinearGradient1125)'%3e%3c/path%3e%3cpath d='M886.8 800L86.79999999999995 0L-460.70000000000005 0L339.29999999999995 800z' fill='url(%23SvgjsLinearGradient1125)'%3e%3c/path%3e%3cpath d='M644.0118421656689 800L1440 4.011842165668895L1440 800z' fill='url(%23SvgjsLinearGradient1124)'%3e%3c/path%3e%3cpath d='M0 800L795.9881578343311 800L 0 4.011842165668895z' fill='url(%23SvgjsLinearGradient1125)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1123'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1124'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1125'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  color: whitesmoke;
}
.title {
  text-decoration: none;
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 8vw;
  color: #6dc9e0;
  text-shadow: 0.5px 0.5px whitesmoke;
}
.title :hover {
  color: aqua;
}

.about-content {
  color: #0f0f0f;
}
.light-mode {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}
